<div class="auth-container">

  <div class="auth-card">
    <h2>Welcome Back 👋</h2>
    <p class="subtitle">Login to continue to Wisdom GPT</p>

    <input 
      type="email" 
      placeholder="Email"
      [(ngModel)]="email"
    />

    <input 
      type="password" 
      placeholder="Password"
      [(ngModel)]="password"
    />

    <button (click)="login()">Login</button>

    <p class="switch">
      Don’t have an account?
      <span (click)="goToRegister()">Register</span>
    </p>

  </div>

</div>